body {
  font-family: $main-font;
  background-color: $white-color;
  color: $main-color;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
